<div class="content flex flex-col space-y-8 items-center">
    <div>
        <h2 class="text-lg font-bold mb-4 text-center">Navigation</h2>
        <div class="flex flex-row justify-center md:space-x-2">
            <a href="/account?view=detail" class="hover:text-gray-400 bg-gray-100 p-2">Account Detail</a>

            <a href="/account?view=manage_orders" class="hover:text-gray-400 bg-gray-100 p-2">Manage Orders</a>
            {{#if isAdmin}}
            <a href="/account?view=manage_users" class="hover:text-gray-400 bg-gray-100 p-2">Manage Users</a>
            <a href="/account?view=manage_products" class="hover:text-gray-400 bg-gray-100 p-2">Manage Products</a>
            {{/if}}
        </div>
    </div>


    <!-- Search Form -->
    <div class="flex flex-col md:flex-row space-x-4 space-y-2 md:space-y-0 mb-4">
        <input type="text" id="search-display-name" placeholder="Search by display name" class="p-2 border border-gray-300 rounded-md"
            value="">
        <input type="text" id="search-category" placeholder="Search by category"
            class="p-2 border border-gray-300 rounded-md" value="">
        <input type="text" id="search-brand" placeholder="Search by brand" class="p-2 border border-gray-300 rounded-md"
            value="">
        <select id="sort-by" class="p-2 border border-gray-300 rounded-md">
            <option value="name-asc">Sort by Name (A-Z)</option>
            <option value="name-desc">Sort by Name (Z-A)</option>
            <option value="price-asc">Sort by Price (Low-High)</option>
            <option value="price-desc">Sort by Price (High-Low)</option>
        </select>
        <button id="search-btn" class="bg-blue-500 text-white py-2 px-4 rounded-md">FILTER</button>
    </div>

    <div>
        <div class="flex justify-center mb-2">
            <h1 class="text-2xl font-bold self-center md:mr-2">Product Management</h1>
            <a href="/account?view=manage_products&action=insert" class="hover:text-gray-600 hover:bg-gray-400 bg-gray-200 p-2">ADD PRODUCT</a>
        </div>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="border border-gray-300 p-2">Brand</th>
                    <th class="border border-gray-300 p-2">Display name</th>
                    <th class="border border-gray-300 p-2">Category</th>
                    <th class="border border-gray-300 p-2">Description</th>
                    <th class="border border-gray-300 p-2">Price</th>
                    <th class="border border-gray-300 p-2">Stock</th>
                    <th class="border border-gray-300 p-2">Edit</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td class="border border-gray-300 p-2">{{product_brand}}</td>
                    <td class="border border-gray-300 p-2">{{product_display_name}}</td>
                    <td class="border border-gray-300 p-2">{{product_category}}</td>
                    <td class="border border-gray-300 p-2">{{product_description}}</td>
                    <td class="border border-gray-300 p-2">${{product_price}}</td>
                    <td class="border border-gray-300 p-2">{{product_stock}}</td>
                    <td class="border border-gray-300 p-2">
                        <a href="/account?view=manage_orders&id={{product_name}}"
                            class="hover:text-gray-600 hover:bg-gray-300 bg-gray-100 p-2">CLICK ME</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>